# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE
.idea
browse.VC.db
CMakeLists.txt.user
/CMakeSettings.json
/.vs
/cmake-build-debug
/.vscode
/build
/install
/jsbuild

# solidity code 
#*.sol
*.ast
*.abi
*.ast.json

.DS_Store
